<h1>Painel Administrativo</h1>
<a href="/admin/{{userName}}/category">ADICIONAR CATEGORIA</a>
{{!-- 
{{#each users}}
<h4>{{name}}</h4>
{{/each}}

{{#each categories}}
<h4 id="name-{{_id}}">{{name}}</h4>
<button onclick="delCategory('{{_id}}')">DELETAR</button>

<form onsubmit="editCategory(event, '{{_id}}')">
    <div>
        <label for="{{_id}}">Nome: </label>
        <input type="text" id="{{_id}}">
    </div>

    <button type="submit">EDITAR</button>
</form>
{{/each}}

{{#each posts}}
<h4>{{title}}</h4>
<h4>{{owner.name}}</h4>
{{/each}}

<script src="/js/category.js"></script> --}}