<h1>Painel Administrativo</h1>

{{#each users}}
<h4>{{name}}</h4>
{{/each}}

{{#each categories}}
<h4>{{name}}</h4>
<button onclick="delCategorie('{{_id}}')" style="background-color: blue; color: white;">DELETAR</button>
<button onclick="editCategorie('{{_id}}')" style="background-color: yellow; color: rgb(0, 0, 0);">EDITAR</button>
{{/each}}

{{#each posts}}
<h4>{{title}}</h4>
<h4>{{owner.name}}</h4>
{{/each}}

<script src="/js/categorie.js"></script>